* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1173579665/vector/seamless-pattern-supermarket-grocery-store-food-drinks-vegetables-fruits-fish-meat-dairy.jpg?s=612x612&w=0&k=20&c=XQQ9oPb6lx4m32iPIrmb1fzugwqr-WRUJo8nTod1D2Q=);
  padding: 10px;
}

.grocery-bud {
  width: 100%;
  max-width: 400px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 5px;
}

.grocery-bud h2 {
  text-align: center;
  color: #2c3e50;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grocery-bud img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
